<!-- This is the home page. -->
<!-- Look in the login folder for the login code. -->
<ActionBar title="YOUR APP"></ActionBar>

<StackLayout>
    <Label class="body m-20" [text]="message" textWrap="true"></Label>
    <Button class="btn btn-primary" text="Log out" (tap)="logout()"></Button>
    <button type="button" class="btn btn-primary " (tap)="btnclick()" text="Ugam Website"></button>
    <button type="button" class="btn btn-primary " (tap)="btnclick1()" text="UniStore"> </button>
    <button type="button" class="btn btn-primary " (tap)="btnclick2()" text="Fleet Star"> </button>
</StackLayout>
    

